 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-color: #141414;
    color: #f5f5f5;
}

.items {
    width: 200px;
    height: 100px;
    background-color: #D3D3D3;
    border-radius: 6px;
    position: absolute;
    right: 100%;
    animation-name: scrollRight;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wrapper {
    border: 1px solid #f5f5f5;
    width: 90%;
    max-width: 700px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 13rem;
    overflow: hidden;
}

@keyframes scrollRight {
    to {
        right: -200px;
    }
}

.item1 {
    animation-delay: calc(10s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(10s / 8 * (8 - 2) * -1);
}

.item3 {
     animation-delay: calc(10s / 8 * (8 - 3) * -1);
}

.item4 {
     animation-delay: calc(10s / 8 * (8 - 4) * -1);
}

.item5 {
     animation-delay: calc(10s / 8 * (8 - 5) * -1);
}

.item6 {
     animation-delay: calc(10s / 8 * (8 - 6) * -1);
}

.item7 {
     animation-delay: calc(10s / 8 * (8 - 7) * -1);
}

.item8 {
     animation-delay: calc(10s / 8 * (8 - 8) * -1);
}